/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

html{
    font-size: 62,5%;
    background-color: rgb(206, 202, 202);
}
body{
    margin: 0;
    padding: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

header{
    height: 15vmin;
    line-height: 10vmin;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: rgb(58, 57, 57);
    width: 100%;
}

.tittle-nawyki{
    color: white;
    font-size: 1.2rem;
    margin-left: 2vmin;
}

#header-plus{
    margin-right: 3vmin;
    margin-left: 55vmin;
}

#header-settings{
    margin-right: 2vmin;
    margin-left: 3vmin;

}

#calendar{
    height: 13vmin;
    margin-left: 48%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

.calendar-date{
    line-height: 4vmin;
    font-size: 0.7rem;
    width: 12%;
    color: rgb(73, 72, 72);
    font-weight: bold;
}

#main-nawyki{
    height: 40vmin;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.nawyk{
    height: 10vmin;
    width: 100%
}

#nawyk1-span{
    color: rgb(63, 154, 184);
    line-height: 4vmin;
    margin-right: 13vmin;
}

#nawyk1{
    display: flex;
    flex-flow: row;
    align-items: center;
}

button{
    border-radius: 1rem;
    background-color: gainsboro;
    margin-right: 5vmin;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

button:focus{
    background-color: green;
}

/******************************************
/* IMG RESCALING
/*******************************************/

.header-icons{
    height: 7vmin;
}

#main-nawyki-icon{
    height: 4vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
}